.featureContainers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  text-align: left;
  font-size: 14px;
  color: var(--white);
  font-family: "Chivo Mono Medium";
}
.separatorsParent {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 26px 0 0;
  gap: 20px;
}
.separatorsIcon {
  height: 49px;
  width: 47px;
  position: relative;
}
.nbfc {
  position: relative;
  line-height: 130%;
  text-transform: uppercase;
  opacity: 0.6;
}
.loanOriginationSystemParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  font-size: 22px;
  font-family: Archivo;
}
.loanOriginationSystem,
.n7BringsFull {
  position: relative;
  display: inline-block;
}
.loanOriginationSystem {
  margin: 0;
  width: 263.7px;
  opacity: 0.9;
}
.n7BringsFull {
  width: 268.5px;
  font-size: 16px;
  line-height: 130%;
  opacity: 0.7;
}
@media screen and (max-width: 450px) {
  .loanOriginationSystemParent {
    gap: 16px;
  }
  .loanOriginationSystem {
    font-size: 18px;
    line-height: 21px;
  }
}
